/**
 * Created by daizq.
 */

.tab-content {
    margin: 20px 0px;
}

.form-group .checkbox {
    font-size: 12px;
}

.form-group .checkbox input {
    margin-top: 2px;
}

.form-group .btn {
    background-color: #5cb85c;
    color: #ffffff;
}

.login-wrap {
    width: 100%;
    position: relative;
    padding: 10% 0px;
}

.login-wrap .login-content {
    width: 450px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    padding: 55px 80px;
    background-color: #ffffff;
}

@media (max-width: 991px){
    .login-wrap .login-content {
        width: 350px;
    }
}

.img-verify-content {
    position: relative;
}

.img-verify {
    position: absolute;
    right: 15px;
    top: 0px;
    width: 80px;
    height: 34px;
    cursor: pointer;
    border-radius: 5px;
}